---

// IMPORT ASTRO ATOMS
import PictureContain from "@/atoms/picture/contain/index.astro"

// HARDCODED DATA
const data = {

    source: "/icons/star-svgrepo-com.svg",

}

const numberOfStars = 5

---

<div class="flex">
    {
    
        Array.from({ length: numberOfStars }).map((_, index) => (

            <div class="size-4">
                <PictureContain 
                    alternative_text={ `Star ${ index + 1 }` } 
                    source={ data.source } 
                />
            </div>
            
        ))
    
    }
</div>
