---

// HARDCODED DATA
const data = {

    source: "icons/star-svgrepo-com.svg",

}

---

<div class="flex">
    <img class="size-[16px]" src={ data.source }/>
    <img class="size-[16px]" src={ data.source }/>
    <img class="size-[16px]" src={ data.source }/>
    <img class="size-[16px]" src={ data.source }/>
    <img class="size-[16px]" src={ data.source }/>
</div>
