---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO COMPONENTS
import CommunityCard from "@/components/home/community/card/index.astro"

// HARDCODED DATA
const data = {

    source:"images/communityimage.webp",

}

---

<section class="grid md:grid-cols-2 gap-20">
    <div class="hidden md:block">
        <img
            alt=""
            class=" w-full h-full object-cover rounded-r-[250px]"
            src={ data.source }
        />
    </div>
    <div class="flex items-center justify-center md:pr-36 px-4 my-10">
        <div class="flex flex-col gap-14">
            <CommunityCard
                buttontext="eVero Outreach"
                description="eVero Outreach holds a variety of interactive seminars and trainings and participates in community events all designed to enhance the lives of individuals in the human services community that we serve."
                subtitle="Giving back to the community is a part of our company’s DNA."
                title="Community Outreach"
            />
            <CommunityCard
                buttontext="eVero Ed"
                description="We are committed to the continued success of all of our users. eVero Ed is the one-stop shop for eVero training and education, offering 24/7 online access to easy-to-understand written and video resources, plus live webinar schedules, software release breakdowns, and so much more."
                subtitle="Training doesn’t end after implementation."
                title="Continuing Education & Training"
            />
        </div>
    </div>
</section>
