---

// IMPORT ASTRO COLLECTION
import { getCollection } from "astro:content"

// IMPORT HEADER COLLECTION
let header_data = await getCollection("header")
header_data = header_data.sort( ( a, b ) => a.data.order - b.data.order )

// IMPORT ICON
import { FaMinus, FaPlus } from "react-icons/fa"

---

<div class="xl:hidden fixed flex flex-col gap-8 duration-200 -right-96 top-0 z-20 p-8 bg-gray-100 h-dvh max-w-96 w-full" id="nav-links">
    <div class="flex justify-end cursor-pointer" id="nav-cross">
        <img src="images/cross-svgrepo-com.svg" class="size-4"/>
    </div>
    <ul class="flex flex-col text-sm font-medium">
        {
            header_data.map( ( item ) => {
                return (
                    <div class="">
                        <li class="relative">
                            <div class={"flex items-center justify-between py-2 hover:text-orange-500 cursor-pointer w-full" + (item.data.has_dropdown ? " nav-item" : "")} data-id={ item.data.id }>
                                <p class="text-[16px]">{ item.data.title }</p>
                                { 
                                    item.data.has_dropdown && 
                                    <span class="text-[10px] text-orange-400">
                                        <span class="group-hover:hidden"><FaPlus/></span>
                                        <span class="hidden group-hover:inline"><FaMinus/></span>
                                    </span> 
                                }
                            </div>
                            {
                                item.data.has_dropdown &&
                                <div class="hidden nav-list" id={ item.data.id }>
                                    <div class="flex flex-col gap-3 border-b border-gray-300 pb-4">
                                        {
                                            item.data.items.map( ( sub_item ) => {
                                                return(
                                                    <div class="hover:bg-orange-400 hover:text-white cursor-pointer px-1">
                                                        <a href={ "/" + sub_item.link } aria-label={ "explore" + sub_item.title }>
                                                            <span class="text-sm font-normal">{ sub_item.title }</span>
                                                        </a>
                                                    </div>
                                                )
                                            })
                                        }
                                    </div>
                                </div>
                            }
                        </li>
                    </div>
                )
            })
        }
    </ul>
</div>

<script>
     // FUCTION TO CLOSE DROPDOWNS
     function closeAllDropdowns() {
        const navLists = document.querySelectorAll('.nav-list');
        navLists.forEach(navList => {
            navList.classList.add('hidden');
        });
    }

    // ONCLICK OF NAVLINKS THE SUB LINKS WILL DROPDOWN
    document.addEventListener('DOMContentLoaded', () => {
        const navItems = document.querySelectorAll('.nav-item');
        const navCross = document.getElementById('nav-cross');
        navItems.forEach(navItem => {
            navItem.addEventListener('click', function() {
                const id = this.getAttribute('data-id');
                const navList = document.getElementById(id);
                
                // CHECK IF CLICKED NAV LINK IS ALREADY OPEN
                const isHidden = navList.classList.contains('hidden');

                // CLOSE ALL DROPDOWNS
                closeAllDropdowns();

                // TOGGLE HIDDEN FOR NAV LINK
                if (isHidden) {
                    navList.classList.remove('hidden');
                }
            });
        });

        // CLOSE ALL LIST WHEN CLICKED ON CLOSS ICON
        navCross.addEventListener('click', () => {
            closeAllDropdowns();
        });
    });
</script>
