---

// IMPORT ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import PrimaryButton from "@/atoms/button/primary-button/index.astro"

// IMPORT ASTRO COMPONENTS
import FeaturedCard from "@/components/home/featuredblog/card/index.astro"

// HARDCODED DATA
const data = {

    buttontext: "See More Updates",
    title: "Featured Blog Posts",

}

---

<section class="my-24 flex flex-col gap-6">
    <div class="flex items-center justify-center">
        <HeadingTwo>{ data.title }</HeadingTwo>
    </div>
    <div class="responsive">
        <FeaturedCard
            alternative_text="springconfrence"
            date="February 23, 2024"
            description="Here’s a quick rundown of the I/DD industry conferences in which eVero has planned for the first few months of 2024. If you have plans to attend any of... "
            link="/"
            source="images/featuredimages/Summer-Conference-24-1.webp"
            title="eVero's 2024 Spring Conference Schedule"
        />
        <FeaturedCard
            alternative_text="outreach"
            date="March 19, 2024"
            description="The eVero Outreach team conducted a Hire Me! interactive seminar at the Nassau BOCES Rosemary Kennedy Center to help prepare students with tips on job hunting, interview skills, and... "
            link="/"
            source="images/featuredimages/outreach.webp"
            title="eVero Outreach Interview Workshop with Nassau BOCES"
        />
        <FeaturedCard
            alternative_text="autismawareness"
            date="April 2, 2024"
            description="Celebrating autism awareness & acceptance! "
            link="/"
            source="images/featuredimages/autism.webp"
            title="April is Autism Awareness Month!"
        />
        <FeaturedCard
            alternative_text="fallguyscreening"
            date="may 7, 2024"
            description="Last week we wrapped up Autism Awareness Month with a special sensory-friendly screening of Universal's 'Fall Guy' at the Cinema deLux Showcase theatre in Farmingdale. The event featured a... "
            link="/"
            source="images/featuredimages/fallguy.webp"
            title="'Fall Guy' Sensory-Friendly Screening"
        />
    </div>
    <div class="flex items-center justify-center">
        <PrimaryButton>
            { data.buttontext }
        </PrimaryButton>
    </div>
</section>

<script >
    // SLICK SLIDER FUNCTION FOR RESPONSIVE CAROUSAL
    document.addEventListener('DOMContentLoaded', function() {
        $('.responsive').slick({
            // DOT BUTTONS BELOW THE CAROUSAL ACTIVE
            dots: true, 

            // PREVIOUS ARROW BUTTON DISABLED
            prevArrow: false, 

            // NEXT ARROW BUTTON DISABLED
            nextArrow: false, 

            // INFINITELY SCROLLING
            infinite: true, 

            // SPEED OF SCROLLING
            speed: 300, 

            // SLIDES TO SHOW FOR DIFFERENT WINDOWS
            slidesToShow: 3, 

            // SLIDES TO SCROLL EVERYTIME WE SCROLL
            slidesToScroll: 2, 

            // ENABLE CENTER MODE FOR NEXT SLIDES TO PEAK
            centerMode: true, 

            // HOW MUCH THE NEX SLIDES PEAK
            centerPadding: '110px', 
            responsive: [
                {
                    // DESIGN OF SLIDES FOR BELOW 1024
                    breakpoint: 1024, 
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                        centerPadding: '70px',
                }
                },
                {
                    // DESIGN OF SLIDES FOR BELOW 640
                    breakpoint: 640, 
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        centerMode: false
                }
                },
                {
                    // DESIGN OF SLIDES FOR BELOW 480
                    breakpoint: 480, 
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        centerMode: false
                }
                }
            ]
        });
    });
</script>
