---

// IMPORT ASTRO COMPONENTS
import Stars from "@/components/home/testimonials/card/stars/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    description,
    source,
    sub_title,
    title,

} = Astro.props

---

<div class="flex items-center justify-center p-4 mb-6">
    <div class="bg-gray-100 rounded-3xl min-h-[360px]">
        <div class="flex items-center justify-between px-8 py-6 border-b-2 border-gray-300">
            <img 
                alt={ alternative_text }
                class="size-12 rounded-full"
                src={ source }
            />
            <div>
                <h3 class="text-sm font-semibold">{ title }</h3>
                <p class="text-xs">{ sub_title }</p>
            </div>
            <Stars/>
        </div>
        <div class="px-8 py-6">
            <p class="text-[15px]">{ description }</p>
        </div>
    </div>
</div>
