---

// GET ASTRO PROPS
const { 
    
    source, 
    alternative_text

} = Astro.props

---

<a href="#" aria-label="">
    <img 
        alt={ alternative_text } 
        class="size-6"
        src={ source }
    />
</a>
