---

// IMPORT ASTRO ATOMS
import Button from "@/atoms/button/index.astro"
import HeadingOne from "@/atoms/headings/one/index.astro"
import HeadingThree from "@/atoms/headings/three/index.astro"
import ParagraphSmall from "@/atoms/paragraph/small/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    button_text,
    description,
    source,
    sub_title,
    title,

} = Astro.props

---

<div class="grid md:grid-cols-2 gap-4">
    <div class="py-16 xl:pl-28 flex items-center justify-center">
        <div class="space-y-6 p-11 flex flex-col items-center justify-center md:items-start">
            <HeadingOne>{ title }</MainHeading>
            <ParagraphSmall>{ description }</ParagraphSmall>
            <HeadingThree>{ sub_title }</HeadingThree>
            <Button>{ button_text }</Button>
        </div>
    </div>
    <div class="hidden md:block">
        <img
            alt={ alternative_text }
            class="w-full h-full object-cover rounded-l-full"
            src={ source }
        />
    </div>
</div>
