---

// IMPORT ASTRO ATOMS
import HeadingThreeLgBold from "@/atoms/headings/three/lg/bold/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphLg from "@/atoms/paragraph/lg/index.astro"
import PictureCover from "@/atoms/picture/cover/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    description,
    source,
    title,

} = Astro.props

---
<div class="flex flex-col gap-2">
    <div class="h-56">
        <Link href="#">
            <PictureCover
                alternative_text={ alternative_text }
                source={ source }
            />
        </Link>
    </div>
    <div class="flex flex-col gap-2">
        <HeadingThreeLgBold>{ title }</HeadingThreeLgBold>
        <ParagraphLg>{ description }</ParagraphLg>
    </div>
</div>
