---

// GET ASTRO PROPS
const {

    source,
    alternative_text,
    title,
    description,

} = Astro.props

---
<div class="text-center flex flex-col items-center justify-center rounded-3xl bg-gray-100 px-12 py-7">
    <div class="size-40">
        <img
            alt={ alternative_text }
            src={ source }
            class="w-full h-full"
        />
    </div>
    <h2 class="mb-6 text-3xl font-medium">
        <span class="text-4xl text-orange-400 underline">e</span>{ title }
    </h2>
    <p>{ description }</p>
</div>