---
import Container from "../container/Container.astro"; //Container import
import H2 from "../atoms/headings/h2/H2.astro"; //H2 import
import SubHeading from "../atoms/headings/subheading/SubHeading.astro"; //Subheading import
import ParaMedium from "../atoms/paragraph/medium/paraMedium.astro"; //medium paragraph
---

<Container>
  <div class="my-11">
    <div class="text-center flex flex-col items-center justify-center">
      <H2>Who eVero Helps</H2>
      <div class="max-w-[700px] mb-10">
        <SubHeading>
          We support the unique needs of the Health and Human Services
          community.
        </SubHeading>
      </div>
    </div>

    <!-- Cards -->
    <div class="flex flex-col gap-7">
      <!-- First three cards -->
      <div class="flex flex-col md:flex-row gap-7 items-center justify-center">
        <card
          class="text-center flex flex-col items-center justify-center px-12 py-5 max-w-[380px]"
        >
          <div
            class="rounded-full border-2 border-solid border-orange-400 p-4 mb-6"
          >
            <img src="images/Agencies.webp" class="w-[70px] h-[70px]" />
          </div>

          <div>
            <h2 class="mb-4 text-orange-400 text-2xl font-medium">
              PROVIDER AGENCIES
            </h2>

            <ParaMedium>
              Streamlined process flows that boost transparency, compliance, and
              productivity.
            </ParaMedium>
          </div>
        </card>

        <card
          class="text-center flex flex-col items-center justify-center px-12 py-5 max-w-[380px]"
        >
          <div
            class="rounded-full border-2 border-solid border-orange-400 p-4 mb-6"
          >
            <img src="images/Families.webp" class="w-[70px] h-[70px]" />
          </div>

          <div>
            <h2 class="mb-4 text-orange-400 text-2xl font-medium">
              INDIVIDUALS & FAMILY
            </h2>

            <ParaMedium>
              Intuituve tools empower individuals to proactively manage their
              Self-Directed care.
            </ParaMedium>
          </div>
        </card>

        <card
          class="text-center flex flex-col items-center justify-center px-12 py-5 max-w-[380px]"
        >
          <div
            class="rounded-full border-2 border-solid border-orange-400 p-4 mb-6"
          >
            <img
              src="images/Fiscal-Intermediaries.webp"
              class="w-[70px] h-[70px]"
            />
          </div>

          <div>
            <h2 class="mb-4 text-orange-400 text-2xl font-medium">
              FISCAL INTERMEDIARIES
            </h2>

            <ParaMedium>
              Automation and integrations help simplify budgeting, documentation
              and billing.
            </ParaMedium>
          </div>
        </card>
      </div>

      <div class="flex flex-col md:flex-row gap-7 items-center justify-center">
        <card
          class="text-center flex flex-col items-center justify-center px-12 py-5 max-w-[380px]"
        >
          <div
            class="rounded-full border-2 border-solid border-orange-400 p-4 mb-6"
          >
            <img src="images/Brokers.webp" class="w-[70px] h-[70px]" />
          </div>

          <div>
            <h2 class="mb-4 text-orange-400 text-2xl font-medium">
              SUPPORT BROKERS
            </h2>

            <ParaMedium>
              Unified caseload management with real-time insight into budget
              usage and trends.
            </ParaMedium>
          </div>
        </card>

        <card
          class="text-center flex flex-col items-center justify-center px-12 py-5 max-w-[380px]"
        >
          <div
            class="rounded-full border-2 border-solid border-orange-400 p-4 mb-6"
          >
            <img src="images/Self-Hired.webp" class="w-[70px] h-[70px]" />
          </div>

          <div>
            <h2 class="mb-4 text-orange-400 text-2xl font-medium">
              SELF-HIRED STAFF
            </h2>

            <ParaMedium>
              Easy and accurate EVV and service data collection right at the
              point of care.
            </ParaMedium>
          </div>
        </card>
      </div>
    </div>

    <div class="flex items-center justify-center mt-6">
      <h2 class="max-w-[1100px] text-xl text-center text-gray-500">
        <spam class="text-orange-400">The eVero platform</spam>
        creates a digital ecosystem that empowers the entire care continuum to work
        together to ensure the best care possible
      </h2>
    </div>
  </div>
</Container>
