---

// IMPORT ASTRO COLLECTION
import { getCollection } from "astro:content"

// IMPORT HEADER COLLECTION
let header_data = await getCollection("header")
header_data = header_data.sort( ( a, b ) => a.data.order - b.data.order )

---

<header class="bg-zinc-200">
    <ul class="flex md:gap-6 mac:gap-8 text-xl">
        {

            header_data.map( ( item ) => {

                return (
                    <li class="relative group">
                        <a href={ "/" + item.data.link } aria-label={ "explore " + item.data.title }>{ item.data.title }</a>
                        {

                            item.data.has_dropdown &&
                            <div class="hidden group-hover:block group-hover:flex-col absolute p-4 bg-white left-0 z-20 top-7 w-48 gap-2">
                                <div class="flex flex-col bg-zinc-200 p-5">
                                    {

                                        item.data.items.map( ( sub_item, sub_item_index ) => {

                                            return(

                                                <div class="py-2 bg-gray-200">
                                                    <a href={ "/" + sub_item.link } aria-label={ "explore" + sub_item.title }>
                                                        <span class="text-sm">{ sub_item.title }</span>
                                                    </a>
                                                </div>

                                            )

                                        })

                                    }
                                </div>
                            </div>

                        }
                    </li>
                )

            })

        }
    </ul>
</header>
