---

import ParagraphMedium from "@/atoms/paragraph/medium/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    description,
    source,
    title,

} = Astro.props

---
<div class="text-center flex flex-col items-center justify-center px-12 py-5 max-w-[380px]">
    <div class="rounded-full border-2 border-solid border-orange-400 p-6 mb-6">
        <img
            alt={ alternative_text }
            class="size-10 object-cover"
            src={ source }
        />
    </div>
    <h2 class="mb-4 text-orange-400 text-2xl font-medium">{ title }</h2>
    <ParagraphMedium>{ description }</ParagraphMedium>
</div>
