---

// IMPORT ASTRO ATOMS
import HeadingOrange from "@/atoms/headings/four/four-orange/index.astro"
import ParagraphMediumCenter from "@/atoms/paragraph/medium/medium-center/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    description,
    source,
    title,

} = Astro.props

---

<div class="flex flex-col items-center justify-center px-12 py-5 max-w-[380px]">
    <div class="rounded-full border-2 border-solid border-orange-400 p-6 mb-6">
        <img
            alt={ alternative_text }
            class="size-10 object-cover"
            src={ source }
        />
    </div>
    <div class="flex flex-col gap-2">
        <HeadingOrange>{ title }</HeadingOrange>
        <ParagraphMediumCenter>{ description }</ParagraphMediumCenter>
    </div>
</div>
