---

// IMPORT ASTRO ATOMS
import HeadingFourTwoXlOrangeCenter from "@/atoms/headings/four/two-xl/orange/center/index.astro"
import ParagraphBaseGrayCenter from "@/atoms/paragraph/base/gray/center/index.astro"
import PictureCover from "@/atoms/picture/cover/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    description,
    source,
    title,

} = Astro.props

---

<div class="flex flex-col items-center justify-center px-12 py-5 max-w-[380px]">
    <div class="rounded-full border-2 border-solid border-orange-500 p-6 mb-6">
        <div class="size-10">
            <PictureCover
                alternative_text={ alternative_text }
                source={ source }
            />
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <HeadingFourTwoXlOrangeCenter>{ title }</HeadingFourTwoXlOrangeCenter>
        <ParagraphBaseGrayCenter>{ description }</ParagraphBaseGrayCenter>
    </div>
</div>
