---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO ATOMS
import HeadingThreeSmMediumOrange from "@/atoms/headings/three/sm/medium/orange/index.astro"
import ParagraphSmWhite from "@/atoms/paragraph/sm/white/index.astro"

// IMPORT ASTRO COMPONENTS
import Form from "@/components/home/contact/form/index.astro"

// HARDCODED DATA
const map_data = {

    address: "48 South Service Road, Suite 300, Melville, NY 11747",
    contact_fax: "Fax: +1 631.390.8832",
    map_title: "Drop by for a visit!",
    support_email: "Support: support@evero.com",
    
}
const form_data = {

    Button_link: "/",
    button_text: "Send",
    description: "To contact our Sales team and request a demo, please use the form below.",
    sub_title: "We're always ready for your call.",
    title: "Contact Us"

}

---

<Container>
    <div class="flex flex-col gap-8 md:gap-0 md:flex-row my-16">
        <div class="flex-1 justify-start">
            <Form
                button_link={ form_data.Button_link }
                button_text={ form_data.button_text }
                description={ form_data.description }
                sub_title={ form_data.sub_title }
                title={ form_data.title }
            />
        </div>
        <div class="relative flex-1 min-h-80">
            <iframe 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28737.42182514375!2d-73.44993356099864!3d40.79172188370638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e82a17bbe50aed%3A0xc1672d435948a665!2s48%20S%20Service%20Rd%20%23%20300%2C%20Melville%2C%20NY%2011747%2C%20USA!5e0!3m2!1sen!2sin!4v1719387036716!5m2!1sen!2sin"  
                style="border:0; border-radius: 40px; width:100%; height:100%; min-height: 300px;">
            </iframe>
            <div class="absolute flex gap-6 p-6 rounded-b-[40px] bottom-0 z-10 w-full bg-gray-700 bg-opacity-90">
                <div class="flex flex-col gap-2 max-w-[200px]">
                    <HeadingThreeSmMediumOrange>{ map_data.map_title }</HeadingThreeSmMediumOrange>
                    <ParagraphSmWhite>{ map_data.address }</ParagraphSmWhite>
                </div>
                <div class="flex flex-col justify-end">
                    <ParagraphSmWhite>{ map_data.contact_fax }</ParagraphSmWhite>
                    <ParagraphSmWhite>{ map_data.support_email }</ParagraphSmWhite>
                </div>
            </div>
        </div>
    </div>
</Container>
