---

// IMPORT ASTRO LAYOUTS


// IMPORT ASTRO COMPONENTS
import Cardleft from "@/components/home/hero/cardleft/index.astro"
import Cardright from "@/components/home/hero/cardright/index.astro"

---

<div class="single-item overflow-x-hidden">
    <div class=" max-w-full mb-9 px-2 sm:px-4 sm:py-2 ">
    
        <Cardleft

            alternative_text="hero1"
            button_text="Learn more"
            description="With a proprietary, easy-to-use software platform that connects the entire care continuum and evolves as your needs do, eVero empowers outcomes for both caregivers and individuals with I/DD."
            source="images/hero-img.webp"
            sub_title="Go above and beyond care."
            title="Where innovative Technology meets human care"

        />
    
    </div>

    <div class=" max-w-full mx-auto mb-9 px-2 sm:px-4 sm:py-2 ">

        <Cardright

            alternative_text="hero2"
            button_text="Learn more"
            description="Our platform optimizes workflows while increasing transparency, productivity, and compliance, enabling providers, caregivers, and those supported to work together towards the best care possible."
            source="images/hero2-img.webp"
            sub_title="Focus on the care you provide; not the technology around it."
            title="Powering a connected care ecosystem. Empowering you."

        />

    </div>

    <div class=" max-w-full mx-auto mb-9 px-2 sm:px-4 sm:py-2 ">
    
        <Cardleft

            alternative_text="hero3"
            button_text="Self-Direction Services (SDS)"
            description="From Health Records and Self-Direction Services to Billing and Compliance, eVero’s integrated enterprise platform unifies your data so you can manage all facets of your business in one place."
            source="images/hero3-img.webp"
            sub_title="Focus on the care you provide; not the technology around it."
            title="One platform. A world of inclusion, insight & impact."

        />
    
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.single-item').slick({
            prevArrow: false,
            nextArrow: false,
            autoplay: true,
            autoplaySpeed: 7000,
            fade:true,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            infinite: true,        
        });
    });
</script>
