<button
  class="bg-orange-500
     text-white
     px-6
     py-2
     rounded-lg
     ring-2
     ring-orange-500
     ring-offset-2
     duration-100
     hover:ring-0
     hover:border-solid
     hover:border-2
     hover:border-orange-500"
>
  <slot />
</button>
