---

// GET ASTRO PROPS
const {

    input_name,
    input_placeholder,

} = Astro.props

---

<div class="mt-4">
    <input 

        type="text" 
        name={ input_name }  
        placeholder={ input_placeholder }
        class="border-b border-gray-300 bg-transparent py-2 focus:outline-none text-lg md:text-xl placeholder-gray-700 w-full"

    />
</div>
