---

// IMPORT ASTRO ATOMS
import HeadingTwoThreeXl from "@/atoms/headings/two/three-xl/index.astro"
import HeadingThreeBase from "@/atoms/headings/three/base/index.astro"
import ParagraphBaseGray from "@/atoms/paragraph/base/gray/index.astro"
import PrimaryButton from "@/atoms/button/primary/index.astro"

// GET ASTRO PROPS
const {

    buttontext,
    description,
    button_link,
    subtitle,
    title,

} = Astro.props

---

<div class="flex flex-col gap-8 p-2 md:p-0">
    <div class="flex flex-col gap-4">
        <HeadingTwoThreeXl>{ title }</HeadingTwoThreeXl>
        <HeadingThreeBase>{ subtitle }</HeadingThreeBase>
        <ParagraphBaseGray>{ description }</ParagraphBaseGray>
    </div>
    <a href={ button_link }>
        <PrimaryButton>{ buttontext }</PrimaryButton>
    </a>   
</div>
