---
import { FaPlus, FaMinus } from "react-icons/fa";
---

<a href="#" class="text-black font-semibold text-sm flex items-center gap-1">
  Company
  <span class="font-light text-xs">
    <FaPlus />
  </span>
</a>
