---

// IMPORT ASTRO ATOMS
import HeadingThreeXlMedium from "@/atoms/headings/three/xl/medium/idnex.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphBase from "@/atoms/paragraph/base/index.astro"
import ParagraphSmGrayMedium from "@/atoms/paragraph/sm/gray/medium/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    date,
    description,
    link,
    source,
    title,

} = Astro.props

---

<div class="!flex flex-col gap-4 p-6">
    <div class="flex justify-center overflow-hidden rounded-2xl border border-gray-300 w-full h-64">
        <PictureContain
            alternative={ alternative_text }
            source={ source }
        />
    </div>
    <HeadingThreeXlMedium>{ title }</HeadingThreeXlMedium>
    <ParagraphSmGrayMedium>{ date }</ParagraphSmGrayMedium>
    <ParagraphBase>{ description }</ParagraphBase>
    <div>
        <Link href={ link }>
            <span class="text-orange-500 hover:text-gray-500 font-semibold border-b-2 border-orange-100 py-1">Read More</span>
        </Link>
    </div>
</div>
